@charset "utf-8";

.slider{
    width: 50%;
    margin: 0 10%;
}

.slider img{
    width: 70%;
    height: auto;
}
.wrap{
    width: 100%;
}
/*ヘッダーのなか*/
.header{
    width:100%;
    background-color: darkslateblue;
}
.maintitle{
    font-size: large;
    color: floralwhite;
    height: 235px;  
    margin: 0 auto;
    position: relative;
}
.textarea{
    float:left;
    width:50% ;
}
.maintitle h1{
    font-family:sans-serif;
}
.sns{
    position: absolute;
    right: 0;
    top: 0;
    list-style: none;
    width: 220px;
}
.sns a{
    display: block;
    color: darkslateblue;
    background-color: rgba(255,255,255,0.7);
    font-size: 40px;
    padding: 0 10px;
    margin: 0px 5px;
    float: left;
    border-radius: 5px;
}
.sns a :hover{
    background-color: rgba(255,255,255,1);
}
.menus{
    clear: left;
    overflow: hidden;
    border-top:1px solid;
}
.menu li{
    display: inline-block;
    width: 150px;
    padding: 0px 30px;
    margin: 0px 55px;
    text-align: center;
}
.menu a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
.menu a :hover{
    opacity:1;
}
/* メディアクリエ */
@media screen and (min-width:1040px) {
    .maintitle{
        width:1040px;
    }
}
@media screen and (min-width:641px) and (max-width:1039px){
    
}
@media screen and (max-width:640px) {
    .maintitle{
        width:100%;
    }
}

/* 記事のところ */
.article{
    background-color:rgba(220, 220,220, 0.7);
    width: 90%;
    margin:10px 0;
    padding: 4px 25px;
}
.article a{
    text-decoration:none;
    color: black;
}
.articles{
    float: left;
    width: 50%;
}
.rightarea{
    float: right;
    width: 50%;
    height:300px ;
    position: relative;
}
.rightarea h1{
    position: absolute;
    right: 170px;
    top:0px;
    height: 50px;
    padding: 10px 0px;
    margin: 0px;
}

.videobox{
    position: absolute;
    right: 0px;
    top: 70px;   
    width:320px;
}

